@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Fraunces:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", "sans-serif";
}

.header,
.about,
.plan {
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-image: url("./assets/home/mobile/image-hero-coffeepress.jpg");
}

@media (min-width: 768px) {
  .header {
    background-image: url("./assets/home/tablet/image-hero-coffeepress.jpg");
  }
}

@media (min-width: 1024px) {
  .header {
    background-image: url("./assets/home/desktop/image-hero-coffeepress.jpg");
  }
}

.collection {
  background: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.0001) 0%,
    #fefcf7 100%
  );
}

.about {
  background-image: url("./assets/about/mobile/image-hero-whitecup.jpg");
}

@media (min-width: 768px) {
  .about {
    background-image: url("./assets/about/tablet/image-hero-whitecup.jpg");
  }
}

@media (min-width: 1024px) {
  .about {
    background-image: url("./assets/about/desktop/image-hero-whitecup.jpg");
  }
}

.plan {
  background-image: url("./assets//plan/mobile/image-hero-blackcup.jpg");
}

@media (min-width: 768px) {
  .plan {
    background-image: url("./assets/plan/tablet/image-hero-blackcup.jpg");
  }
}

@media (min-width: 1024px) {
  .plan {
    background-image: url("./assets/plan/desktop/image-hero-blackcup.jpg");
  }
}
